# Conditional Basics

### Prompt the user for a day of the week, print out whether the day is Monday or not

In [6]:
day = input('give me the day of the week: ')
#day = day.upper()

#then put it in an if, else
if day.lower() == 'monday':
    print('This is monday!')
else:
    print('This is NOT monday')

This is NOT monday

### Prompt the user for a day of the week, print out whether the day is a weekday or a weekend

In [7]:
weekend = ['saturday', 'sunday']
day = input('give me the day of the week: ')

if day.lower() in weekend:
    print('this is the weekend')
else:
    print('this is NOT the weekend')

this is the weekend

### Calculate a weekly paycheck, accounting for overtime pay. Create variables and make up values for:

#### The number of hours worked in one week
#### The hourly rate
#### For calculating pay:

#### For working 40 hours or less, each hour is paid at the hourly rate
#### For working more than 40 hours

#### the first 40 hours are paid at the hourly rate

#### each hour after 40 is paid at time and a half (hourly rate * 1.5)

In [9]:
hours_weekly = 41
hourly_rate = 15

if hours_weekly <= 40:
    paycheck = hours_weekly * hourly_rate
else:
    ot_hours = hours_weekly - 40
    paycheck = (hourly_rate*40) + (ot_hours*hourly_rate*1.5)

paycheck

622.5

In [10]:
#inputs for hours and salary
hours_worked = input('how many hours did you work: ')
h= float(hours_worked)
hourly_pay = input('what is your hourly pay: ')
p= float(hourly_pay)


if h <= 40:
    pay = h*p
else:
    h > 40
    pay = ((h-40)*p*1.5)+p*40   

print ("Your weekly paycheck is %.2f" %pay)

Your weekly paycheck is 770.00

## Loop Basics

#### Create an integer variable i with a value of 5. 
#### Create a while loop that runs so long as i is less than or equal to 15. 

#### Each loop iteration, output the current value of i, then increment i by one.

In [163]:
i = 5
while i <= 15:
    print(i)
    i += 1

5
6
7
8
9
10
11
12
13
14
15

#### Create a while loop that will count by 2's starting with 0 and ending at 100. Follow each number with a new line.

In [11]:
j = 0
while j <= 100:
    print(j)
    j += 2

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

### Create a while loop that starts at 2, and displays the number squared on each line while the number is less than 1,000,000. Output should equal:

In [3]:
i = 2
while i <= 1_000_000:
    print(i)
    i **= 2

2
4
16
256
65536

In [23]:
j = 100
while j > 1:
    print(j)
    j -= 5

100
95
90
85
80
75
70
65
60
55
50
45
40
35
30
25
20
15
10
5

#### Write some code using a for loop that prompts the user for a number, then shows a multiplication table up through 10 for that number.

#### For example, if the user enters 7, your program should output:

In [12]:
multiply_by = int(input('enter a number: ')) 

print(type(multiply_by))

for i in range(1,11):
    print(f'{i} x {multiply_by} = {i*multiply_by}')

<class 'int'>
1 x 7 = 7
2 x 7 = 14
3 x 7 = 21
4 x 7 = 28
5 x 7 = 35
6 x 7 = 42
7 x 7 = 49
8 x 7 = 56
9 x 7 = 63
10 x 7 = 70

In [52]:
n = int(input("Enter number of rows: "))

for i in range(1,n+1):
    for j in range(1, i+1):
        print(i, end="")
    print()

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [13]:
for i in range(1,10):
    print(str(i)*i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

Write a program that prompts the user for a positive integer. Next write a loop that prints out the numbers from the number the user entered down to 1.

In [15]:
number = int(input('Positive number'))

while number > 0:
    print(number)
    number -= 1

7
6
5
4
3
2
1

In [14]:
pos_num = int(input('enter a positive integer: '))

for i in range(pos_num,0,-1):
    print(i)

7
6
5
4
3
2
1

In [16]:
numb = int(input('enter a positive number: '))

for i in range(numb+1):
    print(i)

0
1
2
3
4
5
6
7

In [17]:
while True:
    numb = input('enter a odd number between 1 and 50: ')
    
    if numb.isdigit() == False:
        print('invalid entry. this is NOT a number.')
        continue
    numb = int(numb)
    if numb % 2 == 0:
        print('invalid entry. this is EVEN.')
        continue
    if numb < 1 or numb > 50:
        print('invalid entry. this is out of range.')
        continue
    break
    
for i in range(1,51,2):
    if i == numb:
        print(f'SKIP THIS NUMBER: {numb}')
        continue
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
SKIP THIS NUMBER: 25
27
29
31
33
35
37
39
41
43
45
47
49

##### Write a program that prints the numbers from 1 to 100.
##### For multiples of three print "Fizz" instead of the number
##### For the multiples of five print "Buzz".
##### For numbers which are multiples of both three and five print "FizzBuzz".

In [22]:
for i in range(1,101):
    if (i % 3 == 0) and ( i % 5 == 0 ):
        print('FizzBuzz')
        continue
    if i % 3 == 0:
        print('Fizz')
        continue
    if i % 5 == 0:
        print('Buzz')
        continue        
    print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

##### Prompt the user to enter an integer
##### Display a table of squares and cubes from 1 to the value entered
##### Ask if the user wants to continue
##### Assume that the user will enter valid data
##### Only continue if the user agrees to

In [111]:
think = int(input('Type in a number'))

217

In [125]:
think = int(input('Type in a number'))
number = think
square = think
cube = think

print('number\tsquare\tcube')

for number in range(0, think):
    square = number **2
    cube = number **3
    print(f'{number}\t{square}\t{cube}')
cont = input('do you want to continue')

number	square	cube
0	0	0
1	1	1
2	4	8
3	9	27
4	16	64
5	25	125
6	36	216
7	49	343
8	64	512
9	81	729
10	100	1000
11	121	1331
12	144	1728
13	169	2197
14	196	2744
15	225	3375

##### Convert given number grades into letter grades.

###### Prompt the user for a numerical grade from 0 to 100
###### Display the corresponding letter grade
###### Prompt the user to continue
###### Assume that the user will enter valid integers for the grades
###### The application should only continue if the user agrees to
###### Grade Ranges:

###### A : 100 - 88
###### B : 87 - 80
###### C : 79 - 67
###### D : 66 - 60
###### F : 59 - 0

In [25]:
#put it all together
while True:
    user_grade = int(input('Enter a numerical grade from 0 - 100: '))

    if user_grade >= 88:
        print('A')
    elif user_grade >= 80:
        print('B')
    elif user_grade >= 67:
        print('C')
    elif user_grade >= 60:
        print('D')
    else:
        print('F')
        
    user_yn = input('Would you like to continue? (y/n) ')
    if user_yn.lower() != 'y':
        break

B

Create a list of dictionaries where each dictionary represents a book that you have read. 
Each dictionary in the list should have the keys title, author, and genre. 

Loop through the list and print out information about each book.

Prompt the user to enter a genre, then loop through your books list and print out the titles of all the books in that genre.

In [27]:
books = [{'title': 'The Builders', 'author': 'Daniel Polansky', 'genre': 'Fantasy'}, 
         {'title': 'The art of resilience', 'author': 'Ross Edgley', 'genre': 'Self Help'},
         {'title': 'Sapiens', 'author': 'Yuval Noah Harari', 'genre': 'Non-Fiction'}]


input_genre = input('enter genre')

for book in books:
    if book['genre'] == input_genre:
        print(book['title'])

The Builders