Identify the data type of the following values:

In [56]:
type(99.9)
# float

float

In [57]:
type('False')
# string

str

In [59]:
type(False)
# bool

bool

In [61]:
type('0')
# string

str

In [62]:
type(0)
# int

int

In [63]:
type(True) 
# bool

bool

In [64]:
type('True')
# string

str

In [65]:
type([{}])
# list

list

In [66]:
type({'a': []})
# dictionary

dict

A term or phrase typed into a search box
    - string 
    
Whether or not a user is logged in
    - Bool
    
A discount amount to apply to a user's shopping cart
    - float

Whether or not a coupon code is valid
    - Bool

An email address typed into a registration form
    - string

The price of a product
    - float

The email addresses collected from a registration form
    - list of string

Information about applicants to Codeup's data science program
    - dict

In [2]:
'1' + 2

TypeError: can only concatenate str (not "int") to str

can't add an int to a str

In [3]:
6 % 4

2

1 remainder 2

In [4]:
type(6 % 4)

int

int

In [5]:
type(type(6 % 4))

type

Type can also be applyed to functions

In [6]:
'3 + 4 is ' + 3 + 4

TypeError: can only concatenate str (not "int") to str

can't add an int to a str

In [7]:
0 < 0

False

False

In [8]:
'False' == False

False

False

In [9]:
True == 'True'

False

False

In [10]:
5 >= -5

True

True

In [11]:
True or "42"

True

True

In [12]:
6 % 5

1

1 remainder 1

In [14]:
5 < 4 and 1 == 1

False

False

In [15]:
'codeup' == 'codeup' and 'codeup' == 'Codeup'

False

false

In [16]:
4 >= 0 and 1 !== '1'

SyntaxError: invalid syntax (383778220.py, line 1)

!== is incorrect syntax

In [17]:
6 % 3 == 0

True

true

In [18]:
5 % 2 != 0

True

true

In [20]:
[1] + 2

TypeError: can only concatenate list (not "int") to list

can't add a list to an int

In [21]:
[1] + [2]

[1, 2]

[1, 2]

In [22]:
[1] * 2

[1, 1]

[1, 1]

In [23]:
[1] * [2]

TypeError: can't multiply sequence by non-int of type 'list'

can't multiply 2 lists

In [24]:
[] + [] == []

True

true

In [26]:
{} + {}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

can't add 2 dict

5. You have rented some movies for your kids:

The Little Mermaid for 3 days
Brother Bear for 5 days
Hercules for 1 day
If the daily fee to rent a movie is 3 dollars, how much will you have to pay?

In [28]:
daily_fee = 3
lm = 'The little Mermaid'
bb = 'Brother Bear'
h = 'Hercules'

In [31]:
lm = daily_fee * 3
bb = daily_fee * 5
h = daily_fee * 1

In [33]:
lm

3

In [34]:
bb

15

In [35]:
h

3

In [117]:
total_cost = lm + bb + h

In [118]:
total_cost

27

6. Suppose you're working as a contractor for 3 companies: Google, Amazon and Facebook.

They pay you the following hourly rates:

Google: 400 dollars
Amazon: 380 dollars
Facebook: 350 dollars

This week you worked: 10 hours for Facebook, 6 hours for Google and 4 hours for Amazon.

How much will you receive in payment for this week?

In [36]:
google = 400
amazon = 380
facebook = 350

In [119]:
week_pay = google * 6 + facebook * 10 + amazon * 4

In [120]:
week_pay

7420

A student can be enrolled to a class only if the class is not full and the class schedule does not conflict with her current schedule.

In [69]:
new_class = True 
full_class = False
current_schedual = True 
class_schedual = False

In [71]:
new_class == current_schedual

True

In [72]:
new_class == class_schedual

False

A product offer can be applied only if people buys more than 2 items, and the offer has not expired. Premium members do not need to buy a specific amount of products.

In [80]:
item = 3
expire = True
product_offer = item > 2 and expire is True
premium_member = product_offer

In [ ]:
two_or_more = True
not_expired = True

In [83]:
product_offer

True

In [84]:
premium_member

True

9. Continue working in the data_types_and_variables.py file. Use the following code to follow the instructions below:

Create a variable that holds a boolean value for each of the following conditions:

The password must be at least 5 characters
The username must be no more than 20 characters
The password must not be the same as the username
Bonus Neither the username or password can start or end with whitespace

In [108]:
username = 'codeup'
password = 'notastrongpassword'

In [109]:
len(password) >= 5
len(username) <= 20
password != username

True

In [93]:
len(username)

6

In [114]:
username = 'dog'

In [115]:
len(password) >= 5 and len(username) <= 20 and password != username

True